/* [ Used this font-family for specific text ]
font-family: 'Nunito Sans', sans-serif;
font-family: 'Montserrat', sans-serif; */

/* General Setting */
html, body {
  height: 100%;
  background: #ffffff;
}

.container_fluid {
  width: 100%;
}
.container {
  width: 1170px;
  margin: 0 auto;
}

.clearfix {
  clear: both;
}

/* Header: Logo and Navigation */
header {
  position: fixed;
  left: 7%;
  top: 30px;
  z-index: 100;
}

header a.logo,
header ul {
  display: inline-block;
}

header ul {
  float: right;
}

header ul li {
  float: left;
  margin-left: 20px;
}

header ul li:first-of-type {
  margin-left: 0;
}

header ul li a {
  text-decoration: none;
  color: #191919;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  display: block;
  margin-top: 10px;
}

header ul li a:hover,
header ul li a:active {
  color: #10c9c3;
}

/* Main Page */
#main-page {
  background: url('../img/main-page-bg.jpeg')no-repeat center center;
  background-size: cover;
  height: 100%;
}

#main-page .container {
  padding-top: 235px;
}

#main-page .container h1,
#main-page .container p,
#main-page .container a {
  margin-left: 55%;
}

#main-page .container h1 {
  font-size: 38px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 35px;
}

#main-page .container p {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 40px;
}

#main-page .container a {
  font-family: 'Nunito Sans', sans-serif;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  padding: 20px 40px;
  background: #10c9c3;
}

/* About Page */
#about-page {
  text-align: center;
  height: 420px;
}

#about-page .container {
  padding-top: 6%;
}

#about-page .container h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  margin-bottom: 40px;
}

#about-page .container p {
  font-family: 'Nunito Sans', sans-serif;
  line-height: 24px;
  margin-bottom: 40px;
}

/* Professionals Skills */
#professionals-skills {
  background: #f8f9f9;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 570px;
}

#professionals-skills .block:first-of-type {
  background: #f8f9f9;
  padding: 15% 10% 10% 15%;
}

#professionals-skills .block:last-of-type {
  background: #e9e9e9;
}

#professionals-skills .block h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  margin-bottom: 60px;
}

#professionals-skills .block h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 3px solid #d8d8d8;
  position: relative;
}

#professionals-skills .block h4:first-of-type::after {
  content: "";
  height: 3px;
  width: 75%;
  background: #10c9c3;
  position: absolute;
  bottom: -3px;
  left: 0;
}

#professionals-skills .block h4:nth-of-type(2)::after {
  content: "";
  height: 3px;
  width: 90%;
  background: #10c9c3;
  position: absolute;
  bottom: -3px;
  left: 0;
}

#professionals-skills .block h4:last-of-type::after {
  content: "";
  height: 3px;
  width: 65%;
  background: #10c9c3;
  position: absolute;
  bottom: -3px;
  left: 0;
}

#professionals-skills .block:last-of-type {
  background: url("../img/professional-skills.jpg")no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
}

/* Achievement */
#achievement {
  background: #10c9c3;
}

#achievement .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 240px;
}

#achievement .container .block {
  position: relative;
}

#achievement .container .block img {
  position: absolute;
  top: 41%;
}

#achievement .container .block p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #ffffff;
  position: absolute;
  top: 40%;
  left: 30%;
}

#achievement .container .block p span.numbers {
  margin-bottom: 15px;
  display: inline-block;
}

/* Portfolio */
#portfolio {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

#portfolio .block {
  height: 300px;
  position: relative;
}

#portfolio .block:nth-of-type(1),
#portfolio .block:nth-of-type(3),
#portfolio .block:nth-of-type(6),
#portfolio .block:nth-of-type(8) {
  background: #838383;
}

#portfolio .block:nth-of-type(2),
#portfolio .block:nth-of-type(4),
#portfolio .block:nth-of-type(5),
#portfolio .block:nth-of-type(7) {
  background: #dddddd;
}

#portfolio .block:hover {
  background: #252525;
}

#portfolio .block:hover::after {
  content: "";
  background: url("../img/portfolio.png")no-repeat;
  height: 30px;
  width: 48px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.load-more {
  background: #f5f5f5;
  height: 100px;
}

.load-more a {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: #8e8e8e;
  text-align: center;
  display: block;
  text-decoration: none;
  padding: 42px;
}

/* Word Process */
#work-process {
  text-align: center;
}

#work-process .container {
  padding-top: 80px;
}

#work-process .container h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  margin-bottom: 40px;
}

#work-process .container p {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 40px;
}

#work-process .container .block {
  height: 570px;
  background: #e9e9e9;
  margin-bottom: 80px;
  position: relative;
}

#work-process .container .block::after {
  content: "";
  background: url("../img/play-icon.png")no-repeat center center;
  height: 119px;
  width: 119px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#services {
  height: 535px;
  background: #f5f5f5;
}

#services .container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding-top: 40px;
}

#services .container .block {
  height: 230px;
  text-align: center;
  position: relative;
}

#services .container  .block img {
  display: block;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
}

#services .container .block h3 {
  font-family: 'Montserrat', sans-serif;
  font-style: 12px;
  margin: 120px 0  10px;
}

#services .container .block p {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* Testimonials */
#testimonials {
  background: #10c9c3;
  height: 500px;
  box-sizing: border-box;
  padding: 180px 0 0;
}

#testimonials .container {
  text-align: center;
}

#testimonials .container p {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

#testimonials .container p:first-of-type {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 50px;
}

#testimonials .container p:last-of-type {
  font-size: 12px;
  margin-bottom: 80px;
}

/* Clients */
#clients {
  height: 200px;
}

#clients .container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding-top: 60px;
}

#clients .container .block {
  text-align: center;
}

#clients .container .block img {
  display: inline-block;
}

/* Contact Us Page */
#contactus {
  height: 750px;
  background: #f5f5f5;
  text-align: center;
  box-sizing: border-box;
  padding: 102px 0 0;
}

#contactus .container h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  margin-bottom: 36px;
}

#contactus .container p {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 36px;
}

#contactus .container .input-field {
  width: 670px;
  margin: 0 auto;
  margin-bottom: 30px;
}

#contactus .container .input-field .block:first-of-type {
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 30px;
}

#contactus .container .input-field .block:first-of-type input[type=text] {
  padding: 10px;
  font-size: 12px;
  font-family: 'Nunito Sans', sans-serif;
}

#contactus .container .input-field .block:first-of-type input[type=text]#name {
  margin-right: 30px;
}

#contactus .container .input-field .block:last-of-type {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 30px 0;
}

#contactus .container .input-field .block:last-of-type input[type=text],
#contactus .container .input-field .block:last-of-type textarea {
  padding: 10px;
  font-size: 12px;
  font-family: 'Nunito Sans', sans-serif;
}

#contactus .container .input-field .block:last-of-type textarea {
  height: 170px;
  resize: none;
}

#contactus .container input[type=button] {
  outline: none;
  border: none;
  background: #10c9c3;
  padding: 15px 30px;
  color: #Fff;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  cursor: pointer;
}

/* Footer: Company and Copyright, Contact Info, Website Link, Social Media */
footer {
  height: 284px;
  background: #141414;
  color: #fff;
  box-sizing: border-box;
  padding: 100px 0 0;
}

footer .container {
  display: grid;
  grid-template-columns: 40% 25% 25% 10%;
}

footer .container .block h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin-bottom: 26px;
}

footer .container .block p {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #bcbcbc;
}

footer .container .block ul {
  list-style: none;
}

footer .container .block ul li a {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: #bcbcbc;
  line-height: 1.5;
}

footer .container .block.sitemap {
  display: grid;
  grid-template-columns: auto auto;
}
