/* [ Used this font-family for specific text ]
font-family: 'Nunito Sans', sans-serif;
font-family: 'Montserrat', sans-serif; */

/* General Setting */
html, body {
  height: 100%;
  background: #ffffff;
}

.container_fluid {
  width: 100%;
}
.container {
  width: 1170px;
  margin: 0 auto;
}

.clearfix {
  clear: both;
}

/* Header: Logo and Navigation */
header {
  position: fixed;
  left: 7%;
  top: 30px;
}

header a.logo,
header ul {
  display: inline-block;
}

header ul {
  float: right;
}

header ul li {
  float: left;
  margin-left: 20px;
}

header ul li:first-of-type {
  margin-left: 0;
}

header ul li a {
  text-decoration: none;
  color: #191919;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  display: block;
  margin-top: 10px;
}

header ul li a:hover,
header ul li a:active {
  color: #10c9c3;
}

/* Main Page */
#main-page {
  background: url('../img/main-page-bg.jpeg')no-repeat center center;
  background-size: cover;
  height: 100%;
}

#main-page .container {
  padding-top: 235px;
}

#main-page .container h1,
#main-page .container p,
#main-page .container a {
  margin-left: 55%;
}

#main-page .container h1 {
  font-size: 38px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 35px;
}

#main-page .container p {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 40px;
}

#main-page .container a {
  font-family: 'Nunito Sans', sans-serif;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  padding: 20px 40px;
  background: #10c9c3;
}

/* About Page */
#about-page {
  text-align: center;
  height: 420px;
}

#about-page .container {
  padding-top: 6%;
}

#about-page .container h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  margin-bottom: 40px;
}

#about-page .container p {
  font-family: 'Nunito Sans', sans-serif;
  line-height: 24px;
  margin-bottom: 40px;
}
