/* [ Used this font-family for specific text ]
font-family: 'Nunito Sans', sans-serif;
font-family: 'Montserrat', sans-serif; */

/* General Setting */
.container_fluid {
  width: 100%;
}
.container {
  width: 1170px;
  margin: 0 auto;
}

.clearfix {
  clear: both;
}

/* Header: Logo and Navigation */
header {
  position: fixed;
  left: 7%;
  top: 30px;
}

header a.logo,
header ul {
  display: inline-block;
}

header ul {
  float: right;
}

header ul li {
  float: left;
  margin-left: 20px;
}

header ul li:first-of-type {
  margin-left: 0;
}

header ul li a {
  text-decoration: none;
  color: #191919;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  display: block;
  margin-top: 10px;
}

header ul li a:hover,
header ul li a:active {
  color: #10c9c3;
}
